<div class="card-container">
  <div class="card">
    <div id="image-card" class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{image}}">
    </div>
    <div class="card-content">
      <span id="title-card" class="card-title activator grey-text text-darken-4">{{name}}<i class="material-icons right">more_vert</i></span>

      <p class="buy-or-delete"><a class="buy-event-link" href="{{url}}">BUY TICKET ONLINE</a> 
      <p>{{price}}</p>
      <span>
        <a href="/events/delete/{{_id}}"
            class="delete-event-link">DELETE</a> 
            </span></p>

    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
      <p class="information"> 
        <span>Place: {{placeName}}</span>
        <span>Date: {{date}}</span>
        <span>Time: {{time}}</span>
        <span>Address: {{address}}</span>
        </p>
    </div>
  </div>
</div>