<div class="card-container">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{image}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{name}}<i class="material-icons right">more_vert</i></span>
      <span>Place: {{placeName}}</span>
      <span>Date: {{date}}</span>
      <span>Time: {{time}}</span>
      <span>Address: {{address}}</span>
      <p class="buy-or-delete"><a href="{{url}}">BUY TICKET ONLINE</a>  <span><a href="/events/delete/{{_id}}" class="delete-event-link">DELETE</a> </span></p>
     
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>
